In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [76]:
df = pd.read_csv('LORdataset.csv')
df

    Average_Marks   Review
0              95   Clever
1              88   Clever
2              75  Average
3              62  Average
4              92   Clever
5              85   Clever
6              78  Average
7              65  Average
8              90   Clever
9              83   Clever
10             97   Clever
11             82   Clever
12             73  Average
13             60  Average
14             91   Clever
15             80   Clever
16             71  Average
17             58  Average
18             89   Clever
19             79   Clever
20             70  Average
21             57  Average
22             87   Clever
23             76   Clever
24             69  Average
25             56  Average
26             86   Clever
27             75   Clever
28             68  Average
29             55  Average
30             84   Clever
31             74   Clever
32             67  Average
33             54  Average
34             83   Clever

In [77]:
new = pd.get_dummies(df['Review'])
new

    Average  Clever
0         0       1
1         0       1
2         1       0
3         1       0
4         0       1
5         0       1
6         1       0
7         1       0
8         0       1
9         0       1
10        0       1
11        0       1
12        1       0
13        1       0
14        0       1
15        0       1
16        1       0
17        1       0
18        0       1
19        0       1
20        1       0
21        1       0
22        0       1
23        0       1
24        1       0
25        1       0
26        0       1
27        0       1
28        1       0
29        1       0
30        0       1
31        0       1
32        1       0
33        1       0
34        0       1

In [78]:
drop_column = df.drop('Review',axis = 'columns')
drop_column

    Average_Marks
0              95
1              88
2              75
3              62
4              92
5              85
6              78
7              65
8              90
9              83
10             97
11             82
12             73
13             60
14             91
15             80
16             71
17             58
18             89
19             79
20             70
21             57
22             87
23             76
24             69
25             56
26             86
27             75
28             68
29             55
30             84
31             74
32             67
33             54
34             83

In [79]:
new_df = pd.concat([new,drop_column],axis='columns')
new_df

    Average  Clever  Average_Marks
0         0       1             95
1         0       1             88
2         1       0             75
3         1       0             62
4         0       1             92
5         0       1             85
6         1       0             78
7         1       0             65
8         0       1             90
9         0       1             83
10        0       1             97
11        0       1             82
12        1       0             73
13        1       0             60
14        0       1             91
15        0       1             80
16        1       0             71
17        1       0             58
18        0       1             89
19        0       1             79
20        1       0             70
21        1       0             57
22        0       1             87
23        0       1             76
24        1       0             69
25        1       0             56
26        0       1             86
27        0       1             75
28        1       0             68
29        1       0             55
30        0       1             84
31        0       1             74
32        1       0             67
33        1       0             54
34        0       1             83

In [94]:
x = new_df.drop('Average_Marks',axis = 'columns')
x

    Average  Clever
0         0       1
1         0       1
2         1       0
3         1       0
4         0       1
5         0       1
6         1       0
7         1       0
8         0       1
9         0       1
10        0       1
11        0       1
12        1       0
13        1       0
14        0       1
15        0       1
16        1       0
17        1       0
18        0       1
19        0       1
20        1       0
21        1       0
22        0       1
23        0       1
24        1       0
25        1       0
26        0       1
27        0       1
28        1       0
29        1       0
30        0       1
31        0       1
32        1       0
33        1       0
34        0       1

In [95]:
y = new_df.Average_Marks
y

0     95
1     88
2     75
3     62
4     92
5     85
6     78
7     65
8     90
9     83
10    97
11    82
12    73
13    60
14    91
15    80
16    71
17    58
18    89
19    79
20    70
21    57
22    87
23    76
24    69
25    56
26    86
27    75
28    68
29    55
30    84
31    74
32    67
33    54
34    83
Name: Average_Marks, dtype: int64

In [96]:
from sklearn.linear_model import LinearRegression 
lr = LinearRegression()
lr.fit(x,y)

LinearRegression()

In [100]:
lr.predict([[0,1]])

C:\Users\Dell 5410\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([85.05263158])